subscription_id         = "00000000-0000-0000-0000-000000000000"
management_tenant_id    = "00000000-0000-0000-0000-000000000000"
environment             = "dev"
resource_group_location = "malaysiawest"
tenant_subdomain        = "olgaconnectdev"
tenant_display_name     = "olga-connect-dev"
tenant_country_code     = "MY"
tenant_data_location    = "Asia Pacific"
owner                   = "olga-platform"
