subscription_id         = "00000000-0000-0000-0000-000000000000"
management_tenant_id    = "00000000-0000-0000-0000-000000000000"
environment             = "prd"
resource_group_location = "malaysiawest"
tenant_subdomain        = "olga"
tenant_display_name     = "OLGA Connect Production"
tenant_country_code     = "MY"
tenant_data_location    = "Asia Pacific"
owner                   = "olga-platform"
